node_modules/
.env
*.log
.DS_Store
dist/
build/
.vscode/
package-lock.json
java_threads/
java_threads.jar
git-min/
git-portable/
git-min.zip
git-portable.exe
git-min_tmp/
git-portable_tmp/
*.zip
*.exe
